---
- hosts: all
  become: true
  tasks:
    - name: set up bash
      shell: bash vagrant_support/install.sh

    - name: install epel-release
      yum: name=epel-release state=present

    - name: install node
      yum: name=nodejs state=present

    - name: install wget
      yum: name=wget state=present

    - name: setup for yarn
      shell: wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo

    - name: install yarn
      yum: name=yarn state=present

    - name: install swd dependencies
      shell: yarn install

    - name: install sqlite3
      shell: npm install sqlite3
